.slide {
    position:relative;
    display: inline-block;
    overflow:hidden;
}

.slide ws p.jpg {
    display:inline-block;
    vertical-align: center;
}


.slide-content {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width: 100%;
    height:100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
background: rgba(250, 116, 145, 0.959), rgb(211, 141, 202);
padding: 20px;
color:gray;
box-sizing: border-box;
transition: transform 0.3s ease;
}
.slide:hover .slide-content {
    transform: translate(0, 0);
}

/* DIRECTION */

.slide-top .slide-content {
    transform: translate(0, -100%);
}